/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/
body{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    
}
header{
    background-color: rgb(37, 37, 37);
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 40px;
    
}

h1{
    color: rgb(42, 171, 226);
    font-size: 2.5em;
    margin-left: 20px;
    font-weight: 800;
}

nav{
    display: flex;
    align-items: center;
    
    
}

a{
    text-decoration: none;
    color: aliceblue;
    margin-left: 80px;
    margin-right: 40px;
    font-size: 1.5em
}


main{
     margin-top: 5px; 
     display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 80vw;
    margin: 0, auto;
    justify-content: center;
    align-items: center;
    
} 

h2{
    font-size: 40px;
    font-weight: 800;
    /* text-align: left; */
    position: relative;
    left: 300px;
    margin: 120px, 0, 40px, 300px;
}

#section-1{
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: ; */
    width: 80vw;    
    

}


article{
    font-weight: 700;
    font-size: 1.1em;
    line-height: 150%;
}
p{
    font-weight: 700;
    font-size: 1.1em;
    line-height: 150%;
}
.s1d1{
    width: 1300px;
    height: auto;
    position: relative;
    left: 300px;
    margin-top: 50px;
    
}

.s1d2{
    width: 1300px;
    height: auto;
    position: relative;
    left: 300px;
        
}


.s1d3{
    /* box-shadow:-10px, -10px, -10px, #674c4c4d; */
    /* box-shadow: 0px 0px 5px 21px rgba(103,76,76,0.29); */
    box-shadow: 0px 0px 55px 17px rgba(103,76,76,0.15);
    border: 1px solid white;
    border-radius: 15px;
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 250px;
    padding: 20px, 0, 0, 0;

    
}

h3{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 800;
}

h4{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    margin-top: 30px;

}
.s1d4{
    border: 1px solid white;
    border-radius: 15px;
    height: 520px;
    width: 350px;
    font-weight: 700;
    line-height: 170%;
    position: absolute;
    right: 250px;
    top: 650px;
    /* z-index: 9; */
    /* box-shadow:10px, 10px, 10px, rgba(102, 75, 75, .3); */
    box-shadow: 0px 0px 55px 17px rgba(103,76,76,0.15);
}

#test1{
    height: 400px;
    width: 400px;
    background-color: red;
    border: green solid 5px;
    border-radius: 15px;
    box-shadow:10px, 10px, 10px green;
}




#pics{
    display: flex;
    width: 1400px;
    height: auto;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    position: relative;
    left: 80px;
    margin-top: 50px;
}

.pix{
    margin: 50px;
    
}

h5{
    position: relative;
    top: -10px;
    right: 315px;
    font-weight: 800;
    font-size: 33px;
}

.view{
    color: rgb(42, 171, 226);
    font-size: 22px;
    position: relative;
    top: 30px;
    left: 80px;
}


footer{
    height: 5vw;
    width: 100%;
    background-color: rgb(42, 171, 226);
    display: flex;
    align-items: center;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 27px;
    font-weight: 700;
}

#help{
    height: 60px;
    width: 60px;
    border: 5px solid black;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 700;
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 171, 226);
}